<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>School Spring Application with ThymeLeaf</title>

</head>
<style>
div {
	border: 1px solid black;
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}
</style>

<header>
<h6>
		<a href="/">Home</a>
	</h6>
	<br/>
</header>

<body>

		<div th:if="${not #lists.isEmpty(courses)}">
			<h1>Find Students By Course Name !!!!</h1>
			<form action="#" th:action="@{/find_students_by_course_name}" method="post">
				<label>ENTER COURSE ROWNO:</label>
				<input
					class="form-control form-control-sm" type="number"
					th:name="courserowno" min="1" th:max=${#lists.size(courses)} /><br />
				<button type="submit">Find</button>
			</form>
		</div>
	<br>
	
	<h5>
		<p>Courses</p>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">UUID</th>
					<th scope="col">COURSE NAME</th>
					<th scope="col">COURSE DESCRIPTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course: ${courses}">
					<td th:text="${courseStat.index + 1}"></td>
					<td th:text="${course.uuid}"></td>
					<td th:text="${course.courseName}"></td>
					<td th:text="${course.courseDescription}"></td>
			</tbody>
		</table>

	</h5>


</body>
<footer>
	<h6>
		<a href="/">Home</a>
	</h6>
</footer>
</html>