<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>School Spring Application with ThymeLeaf</title>

</head>

<body>
	<h1>Welcome to the School Management Application !!!!</h1>
	<br>

	<div>
		<h2>
			<ol type="1">
				<li><a href="/get_all_students"> Show All Students</a></li>
				<li><a href="/get_all_courses"> Show All Courses</a></li>
				<li><a href="/add_student"> Add Student</a></li>
				<li><a href="/add_student_to_course"> Add a student to the
						course (from a list)</a></li>
				<li><a href="/delete_student"> Delete student by STUDENT_ID</a></li>
				<li><a href="/find_students_by_course_name"> Find all students
						related to course with given name</a></li>
				<li><a href="find_groups_student_countlessorequals"> Find all
						groups with less or equals student count</a></li>
				<li><a href="/dropout_student_from_course"> Remove the student
						from one of his or her courses</a></li>
			</ol>
	</div>

	</h2>

</body>
</html>